master/jobs/request/xml/templates/members/files.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="value">
        <xs:complexType>
            <xs:all>

                <xs:element name="struct">
                    <xs:complexType>
                        <xs:sequence>

                            <xs:element name="member" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:all>

                                        <xs:element name="name" type="xs:string" />

                                        <xs:element name="value">
                                            <xs:complexType>
                                                <xs:all>

                                                    <xs:element name="string" type="xs:string" />

                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>

                                    </xs:all>
                                </xs:complexType>
                            </xs:element>

                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:all>
        </xs:complexType>
    </xs:element>

</xs:schema>